<template>
    <v-card>
        <v-card-title class="headline">Nueva programación</v-card-title>
        <v-card-text>
          Crear una nueva entrada en la progración

          <v-form
            ref="form"
            v-model="valid"
            :lazy-validation="lazy">

            <v-select
                :items="dayOptions"
                v-model="newSchedule.day"
                clearable
                required
                :rules="[v => !!v || 'Es necesario seleccionar un día']"
                label="Día"
                outline
            ></v-select>

            <v-text-field
                v-model="newSchedule.start"
                label="Inicio"
                type="time"
                :rules="[v => !!v || 'Hay que establecer una hora de inicio']"
                required
            ></v-text-field>

            <v-text-field
                v-model="newSchedule.end"
                label="Fin"
                type="time"
                :rules="endTimeRules"
                required
            ></v-text-field>

            <v-text-field
                v-model="newSchedule.targetTemp"
                label="Temperatura objetivo"
                type="number"
                min="0"
                max="28"
                :rules="temperatureRules"
                required
            ></v-text-field>

          </v-form>

        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="$emit('cancel')">Cancelar</v-btn>
          <v-btn color="green darken-1" text @click="addSchedule">Aplicar</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import axios from "axios"
import moment from "moment"

export default {
    data() { 
      return {
        valid: true,
        lazy: false,
        endTimeRules: [
            v => !!v || 'Hay que establecer un horario final',
            v => {
                if (v) {
                    let startTime = moment(this.newSchedule.start, "HH:mm")
                    let endTime = moment(v, "HH:mm")

                    return startTime.isBefore(endTime) || 'El fin de la programación debe ser posterior al comienzo'
                }
            }
        ],
        temperatureRules: [
            v => !!v || 'Es necesario establecer una temperatura',
            v => v && v > 0 && v < 29 || 'La temperatura debe estar entre 0 y 28 grados'
        ],
        dayOptions: [
            {text: 'Lunes', value: 1},
            {text: 'Martes', value: 2},
            {text: 'Miércoles', value: 3},
            {text: 'Jueves', value: 4},
            {text: 'Viernes', value: 5},
            {text: 'Sábado', value: 6},
            {text: 'Domingo', value: 7}
        ],
        newSchedule: {
            day: 0,
            start: "00:00",
            end: "00:00",
            targetTemp: 0
        },
      }
    },
    methods: {
        addSchedule() {
            if (this.$refs.form.validate()) {    
                let startTime = moment(this.newSchedule.start, "HH:mm")
                let endTime = moment(this.newSchedule.end, "HH:mm")

                let schedule = Object.assign({}, this.newSchedule, {
                                    start: { hour: startTime.hours(), minute: startTime.minutes() }, 
                                    end: { hour: endTime.hours(), minute: endTime.minutes()}
                                })

                axios.post("/schedules", { data: schedule }).then(response => {
                    this.$emit('added-schedule')
                })
            }
        }
    }
}
</script>