<template>
    <v-app id="inspire">
        <v-navigation-drawer
            v-model="drawer"
            temporary
            app>
            <v-list dense>
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>home</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title><router-link to="/">Inicio</router-link></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>contact_mail</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title><router-link to="/stats">Estadísticas</router-link></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item>
                    <v-list-item-icon>
                        <v-icon>home</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title><router-link to="/profile">Perfil</router-link></v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item @click="closeSession">
                    <v-list-item-icon>
                        <v-icon>close</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                        <v-list-item-title>Cerrar Sesión</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar color="indigo" dark fixed app>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>TheraPi</v-toolbar-title>
        </v-app-bar>

        <v-content>
            <router-view/>
        </v-content>
        
        <v-footer color="indigo" app>
          <span class="white--text">&copy; 2018</span>
        </v-footer>
    </v-app>
</template>

<script>
export default {
    data() {
        return {
            drawer: null
        }
    },
    methods: {
        closeSession() {
            localStorage.removeItem('user-token')
            this.$router.push('/login')
        }
    }
}
</script>