<template>
    <v-container fluid text-xs-center>
            <v-row>
                <v-col class="text-center">
                    {{currentTime.format("ll")}} - {{currentTime.format("LTS")}}
                </v-col>
            </v-row>

            <v-row>
                <v-col cols="12" md="6">
                    <status v-bind:status="status"></status>
                </v-col>
                <v-col cols="12" md="6">
                    <manual v-bind:heaterMode="status.heaterMode" v-bind:timeToOff="status.timeToOff"></manual>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <schedule></schedule>
                </v-col>
            </v-row>
    </v-container>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
import Status from './Status.vue'
import Manual from './Manual.vue'
import Schedule from './Schedule.vue'

moment.locale('es')

export default {
    data() {
        return {
            currentTime: moment(),
            status: {
                temperature: "--.-",
                humidity: "--.-",
                targetTemperature: 0,
                heaterOnStatus: false,
                timeToOff: false,
                systemPower: 'off',
                heaterMode: 'manual'
            },
            refreshTask: null
        }
    },
    components: {
        Status, Schedule, Manual
    },
    mounted () {
        setInterval(this.time, 1000)
    },
    created() {
        this.refresh()
        this.refreshTask = setInterval(() => this.refresh(), 5000)
    },
    beforeDestroy() { 
        clearInterval(this.refreshTask)
    },
    methods: {
        time () {
            this.currentTime = moment()
        },
        refresh() {
            console.log('refreshing...', this.refreshTask)

            axios.get("/sensors/temperature").then(response => {
                this.status.temperature = Number(response.data.temp).toFixed(1)
                this.status.humidity = Number(response.data.hum).toFixed(1)
            }, error => {
                if (error.response.status === 401 && this.refreshTask) {
                    clearInterval(this.refreshTask)
                }
            })

            axios.get("/heater/status").then(response => {
                this.status.heaterOnStatus = response.data.heaterOnStatus
                this.status.targetTemperature = response.data.targetTemp
                this.status.heaterMode  = response.data.mode
                this.status.timeToOff = response.data.timeToOff
                this.status.systemPower = response.data.power
            }, error => {
                if (error.response.status === 401 && this.refreshTask) {
                    clearInterval(this.refreshTask)
                }
            })
        }
    },
    props: {
        source: String
    }
}
</script>