<template>
  <v-card>
    <v-card-title primary-title>
      <h3 class="headline mb-0">Iniciar sesión</h3>
    </v-card-title>

    <v-card-text pa-5>
      <v-form>
        <v-text-field v-model="username" label="Usuario" required/>
        <v-text-field v-model="password" label="Contraseña" 
        :append-icon="showPassword ? 'visibility' : 'visibility_off'" 
        :type="showPassword ? 'text' : 'password'" 
        @click:append="showPassword = !showPassword" 
        required/>
        
        <v-btn @click="login">Login</v-btn>
      </v-form>
    </v-card-text>

  </v-card>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      username: '',
      password: '',
      showPassword: false
    };
  },
  methods: {
    login() {
      axios.post("auth/login", { username: this.username, password: this.password }).then(
        (res) => {
          localStorage.setItem('user-token', res.data.token)
          localStorage.setItem('user-profile', res.data.user.username)
          this.$router.push('/')
        },
        (err) => {
          localStorage.removeItem('user-token')
          localStorage.removeItem('user-profile')
        }
      )
    }
  }
};
</script>

<style>
  .aligned-text {
    vertical-align: middle
  }
</style>