<template>
  <v-card class="card--flex-toolbar">
    <v-app-bar flat dark>
      <v-toolbar-title>
        MODO MANUAL
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-switch v-model="modeSwitch" hide-details></v-switch>
    </v-app-bar>

    <v-card-text v-if="mode === 'manual'" class="text-center">
      
      <span v-if="!timeToOff">Mantener indefinadamente</span>
      <span v-if="timeToOff">Mantener durante {{timeToOffInMinutes}}</span>

      <v-btn color="info" @click.stop="dialog = true" class="mx-2">Ajustar</v-btn> 

      <v-dialog v-model="dialog" persistent max-width="500">
        <v-card>
          <v-card-title class="headline">Mantener la temperatura durante un tiempo</v-card-title>
          <v-card-text>
            Transcurrido este tiempo el sistema volverá a la temperatura mínima

            <v-select
              :items="timerOptions"
              v-model="offTimer"
              clearable
              label="Mantener temperatura durante"
              outline
            ></v-select>

          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="dialog = false">Cancelar</v-btn>
            <v-btn color="green darken-1" text @click="changeOffTimer()">Aplicar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-card-text>
  </v-card>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

export default {
  props: ['heaterMode', 'timeToOff'],
  data () {
    return {
      mode: this.heaterMode,
      modeSwitch: this.heaterMode === 'manual',
      offTimer: undefined,
      timerOptions: [
        {text: '30 minutos', value: 30},
        {text: '1 hora', value: 60},
        {text: '2 horas', value: 120},
        {text: '3 horas', value: 180},
        {text: '4 horas', value: 240},
        {text: '5 horas', value: 300},
        {text: '6 horas', value: 360}
      ],
      dialog: false
    }
  },
  computed: {
    timeToOffInMinutes() {
      return this.timeToOff && moment.duration(this.timeToOff, 'milliseconds').humanize()
    }
  },
  methods: {
    changeOffTimer() {
      this.dialog = false
      axios.post("heater/params", { offInterval: this.offTimer })
      console.log(this.offTimer)
    }
  },
  watch: {
    mode () {
      axios.post("heater/mode", { mode: this.mode })
      console.log(this.mode)
    },
    modeSwitch (newVal) {
      if (newVal) {
        this.mode = 'manual'
      } else {
        this.mode = 'schedule'
      }
    }
  }
};
</script>