<template>
  <v-card>
    <v-card-title primary-title>
      <h3 class="headline mb-0">Perfil de usuario</h3>
    </v-card-title>

    <v-card-text pa-5>
      <div class="display-1 pb-2">Usuario: {{username}}</div>
      <v-form>
        <v-text-field v-model="currentpassword" label="Contraseña Actual" 
          :append-icon="showPassword ? 'visibility' : 'visibility_off'" 
          :type="showPassword ? 'text' : 'password'" 
          @click:append="showPassword = !showPassword" 
          required/>

        <v-text-field v-model="newpassword" label="Nueva Contraseña" 
        :append-icon="showPassword ? 'visibility' : 'visibility_off'" 
        :type="showPassword ? 'text' : 'password'" 
        @click:append="showPassword = !showPassword" 
        required/>
        
        <v-btn @click="changePassword">Cambiar contraseña</v-btn>
      </v-form>
    </v-card-text>

  </v-card>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      username: '',
      currentpassword: '',
      newpassword: '',
      showPassword: false
    };
  },
  created() {
    this.username = localStorage.getItem('user-profile')
  },
  methods: {
    changePassword() {
      axios.post("auth/password", { 
        username: this.username, 
        currentPassword: this.currentpassword, 
        newPassword: this.newpassword }
      ).then(
        (res) => {
          console.log('success', res)
          this.$router.push('/')
        },
        (err) => {
          console.log(err)
        }
      )
    }
  }
};
</script>

<style>
  .aligned-text {
    vertical-align: middle
  }
</style>