<template>
  <v-card class="pa-3">

    <v-card-text class="display-1 text--primary">Programación</v-card-text>

    <v-data-table
      :headers="headers"
      :items="schedules"
      :sort-by="['day', 'start']"
      group-by="day"
      class="elevation-1">

      <template v-slot:item.action="{ item }">
        <v-icon small @click="deleteItem(item)">delete</v-icon>
      </template>

    </v-data-table>

    <v-card-actions>
      <v-btn
        outlined
        color="info accent-4"
        @click="dialog = true"
      >
        Añadir programación
      </v-btn>
    </v-card-actions>

    <v-dialog v-model="dialog" persistent max-width="500">
      <add-schedule @added-schedule="onAddedSchedule" @cancel="dialog = false"/>
    </v-dialog>

  </v-card>
      
</template>

<script>
import axios from "axios"
import moment from "moment"
import AddSchedule from './AddSchedule.vue'

export default {
  data() {
    return {
      headers: [
        {
          text: 'Día',
          align: 'left',
          sortable: false,
          value: 'day'
        },
        { text: 'Inicio', value: 'start' },
        { text: 'Fin', value: 'end' },
        { text: 'Temperatura', value: 'targetTemp' },
        { text: 'Actions', value: 'action', sortable: false }
      ],
      schedules: [],
      dialog: false
    }
  },
  components: {
        AddSchedule
  },
  methods: {
    refresh() {
      console.log('refreshing...')

      axios.get("/schedules").then(response => {
        console.log(response)
        this.schedules = response.data.map(schedule => {
          let startMoment = moment().set({
            isoWeekday: schedule.day,
            hour: schedule.start.hour,
            minute: schedule.start.minute,
          })

          let endMoment = moment().set({
            isoWeekday: schedule.day,
            hour: schedule.end.hour,
            minute: schedule.end.minute,
          })

          return {
            id: schedule._id,
            day: startMoment.format('dddd'),
            start: startMoment.format('HH:mm'),
            end: endMoment.format('HH:mm'),
            targetTemp: schedule.targetTemp
          }
        })
      })
    },
    deleteItem(item) {
      if (confirm("¿Seguro que quieres borrar la programación para el " + item.day + "?")) {
        axios.delete("/schedules/" + item.id).then(response => {
          this.refresh()
        })
      }
    },
    onAddedSchedule() {
      this.dialog = false
      this.refresh()
    }
  },
  created() {
    this.refresh()
  }
};
</script>