<template>
  <v-container fluid text-xs-center>
    <v-card>
      <v-card-title primary-title>
        <h3 class="headline mb-0">Estadísticas de uso</h3>
      </v-card-title>

      <v-card-text pa-5>
        <div class="display-1 pb-2">Uso el {{dateShown}} <v-btn class="ma-2" @click="previousDay">Dia Anterior</v-btn><v-btn class="ma-2" @click="nextDay">Dia Siguiente</v-btn></div>
        <div class="ct-chart ct-perfect-fourth"></div>
      </v-card-text>

    </v-card>
  </v-container>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import Chartist from 'chartist'

var chartist

export default {
  data() {
    return {
      period: {
        from: 0,
        to: 0
      },
      dateShown: '',
      usageInfo: '',
      usageData: {
        series:[
          {
            name: 'series-1',
            data: []
          },
          {
            name: 'series-2',
            data: []
          }
        ]
      },
      chartOptions: {
        series: {
          'series-1': {
            lineSmooth: Chartist.Interpolation.step(),
            showArea: true
          },
        },
        showPoint: false,
        axisX: {
          type: Chartist.FixedScaleAxis,
          divisor: 12,
          labelInterpolationFnc: function(value) {
            return moment(value).format('HH:mm')
          }
        }
      }
    };
  },
  created() {
    this.usage = 'waiting...'
    this.period.from = moment().add(-24, 'hours')
    this.period.to = moment()
  },
  mounted() {
    this.refreshStats()
    this.chartist = new Chartist.Line('.ct-chart', this.usageData, this.chartOptions)
  },
  methods: {
    refreshStats() {
      this.dateShown = this.period.from.format('MMM DD')
      axios.get("/stats/heater", { params: { from: this.period.from.valueOf(), to: this.period.to.valueOf() } }).then(response => {
          this.usageInfo = response.data.map(item => ( { x: new Date(item.ts), y: (item.status === 'on' ? 20 : 0)} ))        
          this.usageData.series[0].data = this.usageInfo
          this.chartist.update(this.usageData)       
      }, error => {
        console.log(error)
      })

      axios.get("/stats/temp", { params: { from: this.period.from.valueOf(), to: this.period.to.valueOf() } }).then(response => {
          this.usageInfo = response.data.map(item => ( { x: new Date(item.ts), y: item.value} ))        
          this.usageData.series[1].data = this.usageInfo
          this.chartist.update(this.usageData)       
      }, error => {
        console.log(error)
      })
    },
    previousDay() {
      this.period.from.add(-24, 'hours')
      this.period.to.add(-24, 'hours')
      this.refreshStats()
    },
    nextDay() {
      this.period.from.add(24, 'hours')
      this.period.to.add(24, 'hours')
      this.refreshStats()
    }
  }
};
</script>

<style>
  .aligned-text {
    vertical-align: middle
  }
</style>