<template>
  <v-card>
    <div class="pa-4 text-right">
      <v-icon x-large right :color="status.heaterOnStatus ? 'orange darken-3' : 'grey lighten-2'">whatshot</v-icon> <span class="display-4 aligned-text">{{status.temperature}}</span> <span class="display-2">ºC</span>
      <div>
        <v-icon>opacity</v-icon> <span class="display-1 grey--text text--darken-2">{{status.humidity}}%</span>
      </div>
      <div>
        <v-btn v-if="systemPower === 'on'" v-on:click="systemPower = 'off'" color="error">Apagar Sistema</v-btn>
        <v-btn v-else v-on:click="systemPower = 'on'" color="success">Encender Sistema</v-btn>
      </div>
    </div>

    <div class="pa-2 text-center">
      <v-btn text icon large color="green lighten-2" @click="decTemp()">
        <v-icon x-large>remove</v-icon>
      </v-btn>

      <span class="display-2 aligned-text">{{Math.floor(targetTemp)}}.{{targetTemp*10 - Math.floor(targetTemp)*10}}<span class="headline">ºC</span></span>

      <v-btn text icon large color="red lighten-2" @click="incTemp()">
        <v-icon x-large>add</v-icon>
      </v-btn>
    </div>

  </v-card>
</template>

<script>
import axios from "axios";

export default {
  props: ['status'],
  data() {
    return {
      targetTemp: this.status.targetTemperature,
      systemPower: this.status.systemPower
    };
  },
  methods: {
    incTemp() {
      this.targetTemp += 0.5
      axios.post("heater/params", { targetTemp: this.targetTemp })
    },
    decTemp() {
      this.targetTemp -= 0.5
      axios.post("heater/params", { targetTemp: this.targetTemp })
    }
  },
  watch: {
    systemPower() {
      axios.post("heater/status", { status: this.systemPower })
    },
    'status.targetTemperature'(val) {
      this.targetTemp = val
    },
    'status.systemPower'(val) {
      this.systemPower = val
    }  
  }
};
</script>

<style>
  .aligned-text {
    vertical-align: middle
  }
</style>